SERVER_PORT="4500"
NODE_MODE_DEV="development"
NODE_MODE_PRO="production"

FILE_IMGDIR="uploadFiles/img/"
FILE_FORMFILEDIR="uploadFiles/formFile/"
FILE_MAXSIZE="104857600"
FILE_MAXSIZE_DESC="maxsize 10M = 10*1024*1024 = 104857600"

MYSQL_NAME=""
MYSQL_HOST=""
MYSQL_PORT=""
MYSQL_USER=""
MYSQL_PASS=""
MYSQL_DATABASE=""
MYSQL_CONNECTIONLIMIT="10"